@charset "UTF-8";

* {
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body {
            background-image: url('../imagens/bob.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 15px;
}
input{ 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.368);
}
body, img {
  
}
body, input {
    font-size: 15px;
    font-weight: bolder;
}
body, form{
   
}